<?xml version="1.0" encoding="utf-8"?>
<!--
  NOTE: This web.config file is for Windows-based Azure App Services only.
  
  Azure App Service Linux (used for Python applications) does NOT use web.config.
  This file is included for documentation purposes only and will be ignored
  by Linux-based App Services.
  
  For Linux-based Azure App Service Python deployments:
  - Configuration is done via Azure Portal App Settings
  - Startup command is specified in azure-webapp.json or Portal: "bash startup.sh"
  - Environment variables are set in Portal under Configuration > Application settings
  
  If you deploy to Windows-based Azure App Service (not recommended for Python),
  you would need to configure the httpPlatformHandler as shown below.
-->
<configuration>
  <system.webServer>
    <!-- 
      For Windows-based App Services only (not used in Linux):
      This would configure the Python application handler
    -->
    <handlers>
      <add name="PythonHandler" 
           path="*" 
           verb="*" 
           modules="httpPlatformHandler" 
           resourceType="Unspecified" />
    </handlers>
    
    <!-- 
      For Windows-based App Services only:
      Configure the startup command
    -->
    <httpPlatform processPath="D:\home\site\wwwroot\startup.sh"
                  arguments=""
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\stdout"
                  startupTimeLimit="600"
                  startupRetryCount="3">
      <environmentVariables>
        <environmentVariable name="WEBSITES_PORT" value="8050" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
        <environmentVariable name="PYTHONIOENCODING" value="UTF-8" />
        <environmentVariable name="EP_API_URL" value="http://localhost:8000" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
